* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.height-100vh {
    height: 100vh;
}


h4 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 8px;
}

.opacity-0-5{
    opacity: 0.5;
}


/* setting flex */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}



/* setting padding */
.padding-tot-10 {
    padding: 10px;
}

.padding-top-bot-10 {
    padding: 27px 0 10px 0; 
}

/* setting margin */
.margin-bottom {
    margin-bottom: 10px;
}



/* left-area */
/* .logo-spotify */
.contenitore-logo-playlist {
    width: 270px;
    height: calc(100% - 80px) ;
    background-color: rgb(16, 16, 16);
    padding: 20px;
}

.logo-spotify {
    height: 50px;
    margin-bottom: 30px;
}

/* playlist home */
li img {
    height: 32px;
}

.opacity-0-5 li {
    color: white;
    padding:5px 0;
    list-style-type: none;
}
