* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.height-100vh {
    height: 100vh;
}

button {
    padding: 14px;
    color: white;
    background-color: #090a13;
    border-radius: 20px;
    border: 2px solid white;
}

i {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 8px;
}

.opacity-0-5{
    opacity: 0.5;
}

.display-inline-block {
    display: inline-block;
}


/* setting flex */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
    
}

.justify-content-space-between {
    justify-content: space-between;
    
}

/* setting padding */
.padding-tot-10 {
    padding: 10px;
}

.padding-top-bot-10 {
    padding: 27px 0 10px 0; 
}

.padding-20 {
    padding: 20px;
}

/* setting margin */
.margin-bottom {
    margin-bottom: 10px;
}

.margin-top-180 {
    margin-top: 180px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-40 {
    margin-left: 40px;
}

/* setting width */
.width-60 {
    width: 60%;
}

/* left-area */
/* .logo-spotify */
.contenitore-parte-superiore {
    height: calc(100% - 80px) ;
}

.contenitore-logo-playlist {
    width: 450px;
    background-color: #0c0c0c;
    padding: 20px;
}

.logo-spotify {
    height: 50px;
    margin-bottom: 30px;
}

/* playlist home */
li img {
    height: 32px;
}

.opacity-0-5 li {
    color: white;
    padding:5px 0;
    list-style-type: none;
}

.img-download {
    height: 15px;
    margin-top: 12px;
}

/* profile download */
.img-profile {
    height: 25px;
    background: grey;
    margin-top: 15px;
    border-radius: 100%;
    aspect-ratio: 1;
}

h3.display-inline-block {
    color: white;
    opacity: 1;
}

.contenitore-profile {
    color: white;
    padding: 17px 5px;
    opacity: 1;
}

/* mid area (high)*/
.high-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #080b15;
    opacity: 0.9;
    height: 100%;
}

/* center */
.center-area {
    background-color: #161823;
    height: 100%;
}

.font-size-15 {
    font-size: 13px;
}

.contenitore-center-area {
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 35px;
}

.sections {
    position: relative;
}

.sections:hover::before {
    display: block;
}

.sections::before {
    content: '';
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(200%);
    height: 3px;
    width: 30px;
    background-color: green;
}

h2 {
    color: white;
    margin:20px 20px 0 20px;
}

/* cards music  */

.center-area {
overflow: auto;
}

.contenitore-center-img {
    margin:20px;
    flex-wrap: wrap;
    gap: 10px;
}

.contenitore-img  {
    width: calc(calc(100% / 6) - 10px);
}

.contenitore-img img {
    width: 100%; 
}

.contenitore-img h4 {
    text-align: center;
    color: white;
} 

.contenitore-img h6 {
    text-align: center;
    margin-top: 5px;
    color: white;
    opacity: 0.5;
}

/* footer */
footer {
    width: 100%;
    height:calc(calc(100%) - (100% - 80px));
    background-color:rgb(56, 56, 56);
}
 
.justify-content-space-between img {
    width: 43px;
}

.contenitore-nome-brano {
    margin-left: 10px;
    color: white;
}

.gap {
    gap:20px;
}

.contenitore-icone-play i {
   margin: 5px 12px;
}

.contenitore-durata-brano {
    margin-top: 10px;
}

.barra-durata-brano {
    border-radius: 30px;
    width: 50%;
    height: 5px;
    margin: 0 10px;
    background-color: rgb(181, 181, 181);
    
}

.barra-durata-brano div {
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 100%;
    border-radius: 30px;
}

.align-items-center i {
    margin:0 5px;
}
